# Python / Django
__pycache__/
*.pyc
*.pyo
.env
db.sqlite3
*.log
media/

# Virtual Environment
.venv/
venv/

# Node / React
node_modules/
dist/
dist-ssr/
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?